<h2><%= link_to 'Collections', fabric_collections_path %> > <%= @fabric_collection.name %></h2>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_fabric_collection_path(@fabric_collection) %>

<p>
  <b>Name:</b>
  <%= @fabric_collection.name %>
</p>

<p>
  <b>Company:</b>
  <%= link_to @fabric_collection.company.name, :controller => "companies", :action => "show", :id => @fabric_collection.company_id%>
</p>

<p>
  <b>Website:</b>
  <%= link_to @fabric_collection.website, @fabric_collection.website %>
</p>

<p>
  <b>Description:</b>
  <%= @fabric_collection.description %>
</p>
